{# @var contact \App\Entity\Contact #}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <link rel="icon" type="image/svg" href="{{ asset('build/images/8x8.svg') }}">
    <link rel="icon" type="image/svg" href="{{ asset('build/images/16x16.svg') }}">
    <link rel="icon" type="image/svg" href="{{ asset('build/images/32x32.svg') }}">
    <link rel="icon" type="image/svg" href="{{ asset('build/images/64x64.svg') }}">
    <link rel="icon" type="image/svg" href="{{ asset('build/images/128x128.svg') }}">

    <title>{% block title %}Санкт-Петербургская клининговая компания{% endblock %}</title>
    <meta name="description" content="{% block description %}Санкт-Петербургская клининговая компания{% endblock %}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body class="no-scroll">

{% set isHome = isHome | default(false) %}
{% set contact = contacts() %}

{% include 'components/page-loader.html.twig' %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% set isError = false %}

<div{% if not isError %} class="scroll-container" data-scroll-speed="500"{% endif %}>
    <span id="page-top"></span>

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}
</div>

{% include 'components/sidebars/base-sidebar.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=e3c02e3a-d397-446f-8447-2bc2faffd9c9&lang=ru_RU" type="text/javascript">
    </script>
{% endblock %}
</body>
</html>
