<footer class="footer">
    <div class="container footer__container">
        <div class="footer__body">
            <div class="footer__top">
                {% if isHome %}
                <div class="footer__logo logo">
                    <img src="{{ asset('build/images/logo-full.svg') }}" alt="spkk logo">
                </div>
                {% else %}
                    <a href="/" class="footer__logo logo">
                        <img src="{{ asset('build/images/logo-full.svg') }}" alt="spkk logo">
                    </a>
                {% endif %}
                <ul class="footer__association footer-association">
                    <li class="footer-association__item">
                        <a class="footer-association__link" href="https://xn--l1ap.xn--80ai4af.xn--p1acf/">
                            <img src="{{ asset('build/images/logo-fm.svg') }}" alt="fm logo">
                        </a>
                    </li>
                    <li class="footer-association__item">
                        <a class="footer-association__link" href="https://xn--80aumx.xn--p1ai/">
                            <img src="{{ asset('build/images/logo-akfo.svg') }}" alt="akfo logo">
                        </a>
                    </li>
                </ul>
            </div>
            {% if contact is not null %}
            <ul class="footer__contacts" id="contacts">
                {% if contact.address is not null and contact.address is defined %}
                    <li class="footer__contact footer-contact">
                        <div class="footer-contact__name">Адрес</div>
                        {% set address = contact.address %}
                        <a href="{{ contact.link }}"
                           class="footer-contact__value">{{ contact.explodeAddress[0] }}
                            <br>{{ contact.explodeAddress[1] }}</a>
                    </li>
                {% endif %}
                {% if contact.email is not null and contact.email is defined %}
                    <li class="footer__contact footer-contact">
                        <div class="footer-contact__name">E–mail</div>
                        <a href="mailto:{{ contact.email }}" class="footer-contact__value">{{ contact.email }}</a>
                    </li>
                {% endif %}
                {% if contact.phone is not null and contact.phone is defined %}
                    <li class="footer__contact footer-contact">
                        <div class="footer-contact__name">Телефон</div>
                        <a href="tel:{{ contact.phone }}"
                           class="footer-contact__value text-number">{{ contact.phone }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
        <div class="footer__bottom">
            <span class="footer__policy footer__policy_rights">Все права защищены</span>
            <a href="/policy" class="footer__policy">Политика конфиденциальности</a>
            <button class="footer__up-btn" data-anchor-link data-anchor="header">
                Наверх
                <svg>
                    <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#arrow-up"></use>
                </svg>
            </button>
        </div>
    </div>
</footer>