<div class="review-slide">
    <div class="review-slide__image">
        <img src="{{ vich_uploader_asset(review.image[1].image, 'imageFile') }}" alt="{{ review.name }}">
    </div>
    <div class="review-slide__text">
        {{ review.comment | raw }}
    </div>
    <div class="review-slide__bottom">
        <div class="review-slide__avatar">
            <img src="{{ vich_uploader_asset(review.image[0].image, 'imageFile') }}" alt="{{ review.name }}">
        </div>
        <div class="review-slide__info">
            <div class="review-slide__name">{{ review.name }}</div>
            <div class="review-slide__status">{{ review.position }}</div>
        </div>
    </div>
</div>