<section class="base-section base-section_grey clients-section" id="partners">
    <div class="container">
        <h2 class="base-section__title">Наши клиенты</h2>
        <div class="swiper clients-section__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide clients-section__slide">
                    <img src="{{ asset('build/images/partner-1.png') }}" alt="">
                </div>
                <div class="swiper-slide clients-section__slide">
                    <img src="{{ asset('build/images/partner-2.png') }}" alt="">
                </div>
                <div class="swiper-slide clients-section__slide">
                    <img src="{{ asset('build/images/partner-3.png') }}" alt="">
                </div>
                <div class="swiper-slide clients-section__slide">
                    <img src="{{ asset('build/images/partner-4.png') }}" alt="">
                </div>
                <div class="swiper-slide clients-section__slide">
                    <img src="{{ asset('build/images/partner-5.png') }}" alt="">
                </div>
                <div class="swiper-slide clients-section__slide">
                    <img src="{{ asset('build/images/partner-6.png') }}" alt="">
                </div>
                <div class="swiper-slide clients-section__slide">
                    <img src="{{ asset('build/images/partner-7.png') }}" alt="">
                </div>
                <div class="swiper-slide clients-section__slide">
                    <img src="{{ asset('build/images/partner-8.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>