<section class="base-section base-section_grey clients-section" id="clients">
    <div class="container">
        <h2 class="base-section__title">Наши клиенты</h2>
        <div class="clients-section__clients">
            <div class="clients-section__client">
                <img src="{{ asset('build/images/client-1.png') }}" alt="">
            </div>
            <div class="clients-section__client">
                <img src="{{ asset('build/images/client-2.png') }}" alt="">
            </div>
            <div class="clients-section__client">
                <img src="{{ asset('build/images/client-3.png') }}" alt="">
            </div>
            <div class="clients-section__client">
                <img src="{{ asset('build/images/client-4.png') }}" alt="">
            </div>
            <div class="clients-section__client">
                <img src="{{ asset('build/images/client-5.png') }}" alt="">
            </div>
            <div class="clients-section__client">
                <img src="{{ asset('build/images/client-6.png') }}" alt="">
            </div>
            <div class="clients-section__client">
                <img src="{{ asset('build/images/client-7.png') }}" alt="">
            </div>
            <div class="clients-section__client">
                <img src="{{ asset('build/images/client-8.png') }}" alt="">
            </div>
            <div class="clients-section__client">
                <img src="{{ asset('build/images/client-9.png') }}" alt="">
            </div>
        </div>
    </div>
</section>