<section class="base-section gallery-section">
    <div class="container">
        <div class="gallery-section gallery-slider">
            <div class="swiper gallery-slider__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide gallery-slider__slide">
                        <img src="{{ asset('build/images/gallery-slide-1.jpg') }}" alt="gallery">
                    </div>
                    <div class="swiper-slide gallery-slider__slide">
                        <img src="{{ asset('build/images/gallery-slide-1.jpg') }}" alt="gallery">
                    </div>
                    <div class="swiper-slide gallery-slider__slide">
                        <img src="{{ asset('build/images/gallery-slide-1.jpg') }}" alt="gallery">
                    </div>
                    <div class="swiper-slide gallery-slider__slide">
                        <img src="{{ asset('build/images/gallery-slide-1.jpg') }}" alt="gallery">
                    </div>
                    <div class="swiper-slide gallery-slider__slide">
                        <img src="{{ asset('build/images/gallery-slide-1.jpg') }}" alt="gallery">
                    </div>
                    <div class="swiper-slide gallery-slider__slide">
                        <img src="{{ asset('build/images/gallery-slide-1.jpg') }}" alt="gallery">
                    </div>
                    <div class="swiper-slide gallery-slider__slide">
                        <img src="{{ asset('build/images/gallery-slide-1.jpg') }}" alt="gallery">
                    </div>
                    <div class="swiper-slide gallery-slider__slide">
                        <img src="{{ asset('build/images/gallery-slide-1.jpg') }}" alt="gallery">
                    </div>
                </div>
            </div>
            <div class="gallery-slider__navigation">
                <div class="gallery-slider__btn gallery-slider__btn_prev">
                    <svg>
                        <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#arrow-right"></use>
                    </svg>
                </div>
                <div class="gallery-slider__pagination"></div>
                <div class="gallery-slider__btn gallery-slider__btn_next">
                    <svg>
                        <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#arrow-right"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>