<section class="base-section services-section" id="#services">
    <div class="container">
        <h2 class="base-section__title">
            Наши услуги
        </h2>
        <ul class="services-section__services">
            <li class="services-section__service">
                <div class="service">
                    <h3 class="base-section__heading service__title">Уборка бизнес-центров и офисных зданий</h3>
                    <div class="base-section__content service__content">
                        <p>
                            Наша клининговая компания предлагает <b>полный спектр услуг</b>:
                        </p>
                        <ul>
                            <li>уборка</li>
                            <li>вывоз мусора</li>
                            <li>чистка поверхностей</li>
                            <li>очистка ковров</li>
                            <li>дезинфекция и дезинсекция офисных помещений.</li>
                        </ul>
                    </div>
                    <div class="service__image">
                        <img src="{{ asset('build/images/service-image-1.jpg') }}" alt="Уборка бизнес-центров и офисных зданий">
                    </div>
                </div>
            </li>

            <li class="services-section__service">
                <div class="service">
                    <h3 class="base-section__heading service__title">Уборка промышленных предприятий</h3>
                    <div class="base-section__content service__content">
                        <p>
                            Профессиональная уборка промышленных предприятий:
                        </p>
                        <ul>
                            <li>санитарное сответствие,</li>
                            <li> без найма специалистов и дорогостоящего оборудования</li>
                        </ul>
                        <p>
                            <b>Качественная уборка в удобное для вас время</b> без препятствий для вашего персонала.
                        </p>
                    </div>
                    <div class="service__image">
                        <img src="{{ asset('build/images/service-image-1.jpg') }}" alt="Уборка бизнес-центров и офисных зданий">
                    </div>
                </div>
            </li>

            <li class="services-section__service">
                <div class="service">
                    <h3 class="base-section__heading service__title">Уборка образовательных учреждений</h3>
                    <div class="base-section__content service__content">
                        <p>
                            Профессиональный клининг для образовательных учреждений:
                        </p>
                        <ul>
                            <li>индивидуальный график уборки</li>
                            <li>уборку входных групп и территории</li>
                            <li>Генеральная уборка доступна 1-2 раза в месяц</li>
                            <li>Быстро и качественно после ремонта или форс-мажорных ситуаций</li>
                        </ul>
                    </div>
                    <div class="service__image">
                        <img src="{{ asset('build/images/service-image-1.jpg') }}" alt="Уборка бизнес-центров и офисных зданий">
                    </div>
                </div>
            </li>

            <li class="services-section__service">
                <div class="service">
                    <h3 class="base-section__heading service__title">Уборка в торговых центрах</h3>
                    <div class="base-section__content service__content">
                        <p>
                            Мы обеспечиваем уборку торговых центров с использованием специализированного оборудования и безопасных чистящих средств. Наши опытные специалисты гарантируют идеальную чистоту и быстрое выполнение заказов клиентов.
                        </p>
                    </div>
                    <div class="service__image service__image_bottom">
                        <img src="{{ asset('build/images/service-image-1.jpg') }}" alt="Уборка бизнес-центров и офисных зданий">
                    </div>
                </div>
            </li>

            <li class="services-section__service">
                <div class="service">
                    <h3 class="base-section__heading service__title">Дополнительные услуги</h3>
                    <div class="base-section__content service__content">
                        <p>
                            Мы предоставляем дополнительные услуги:
                        </p>
                        <ul>
                            <li>мытьё окон альпинистами</li>
                            <li>вывоз снега</li>
                            <li>озеленение</li>
                        </ul>
                    </div>
                    <div class="service__image service__image_bottom">
                        <img src="{{ asset('build/images/service-image-1.jpg') }}" alt="Уборка бизнес-центров и офисных зданий">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>